/* DEMO STYLES, not general */
div {
  text-align: center;
}
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider-infobox {
  background: grey;
}
.slider-main {
  background: green;
}
body {
  margin: 0;
}
#slide {
  position: absolute;
  right: 0;
  z-index: 2;
  background: transparent;
  border: 1px solid grey;
  appearance: none;
  -webkit-appearance: none;
}
