/* DEMO STYLES, not general */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider-settings {
  padding: 1ch 2ch 2ch 2ch;
  background: white;
  box-shadow: 0px 0px 10px black;
}
.slider-main {
  padding: 3em;
  background: green;
  text-align: center;
}
.slider-infobox {
  padding: 1ch 2ch 2ch 2ch;
  background: #EEE;
  box-shadow: 0px 0px 10px black;
}
body {
  margin: 0;
}
#openSettings {
  position: absolute;
  top: 0;
  left: 0;
}
#openInfo {
  position: absolute;
  top: 0;
  right: 0;
}
